<div id="form_box" class="col-md-8 col-md-offset-2">
    <section class="login-form">
        <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)" role="login">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <img src="../../assets/ResMed_logo.png" class="img-responsive" alt="" />
                </div>
            </div>

            <h4>Welcome to ResMed</h4>
            <div class="form-group required" [ngClass]="{'has-error': !complexForm.controls['username'].valid && complexForm.controls['username'].touched}">
                <label for="username" class="control-label col-md-4 requiredField">Username</label>
                <div class="controls col-md-12">
                    <input type="text" name="username" placeholder="Username" required class="form-control input-md" value="" [formControl]="complexForm.controls['username']" />
                    <div *ngIf="complexForm.controls['username'].hasError('required') && complexForm.controls['username'].touched" class="validation-msg">Username is required.</div>
                </div>
            </div>

            <div class="form-group required" [ngClass]="{'has-error': !complexForm.controls['password'].valid && complexForm.controls['password'].touched}">
                <label for="password" class="control-label col-md-4 requiredField">Password</label>
                <div class="controls col-md-12">
                    <input type="password" class="form-control input-md" id="password" placeholder="Password" required="" [formControl]="complexForm.controls['password']" />
                    <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="validation-msg">Password is required.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 forgot-pass">
                    <a href="#">Forgotten password?</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <div class="aab controls col-md-4"></div>
                        <button type="submit" name="go" class="btn btn-lg btn-secondary btn-block">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>