<div id="app-wrapper" class="hoe-hide-lpanel" device-type="desktop">
    <header id="app-header" panel-effect="shrink" class="">
        <div class="right-header" hoe-position-type="relative">
            <!-- <span class="hoe-sidebar-toggle"><a href="#"></a></span> -->
            <ul class="left-navbar">
                <li>
                    <form method="post" class="hoe-searchbar">
                        <input type="text" placeholder="Search..." name="keyword" class="form-control">
                        <span class="search-icon"><i class="fa fa-search"></i></span>
                    </form>
                </li>
            </ul>
        </div>
    </header>
    <div id="app-container" hoe-lpanel-effect="shrink" class="">
        <aside id="left-panel">
            <ul class="nav panel-list">
                <li class="logo">
                    <!-- <img src="../../assets/ResMed_logo.png" alt=""> -->
                    <span class="hoe-sidebar-toggle"><a href="#"></a></span>
                </li>
                <li class="nav-level">
                    <span class="menu-text">Navigation</span>
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </li>
                <li class="new-order-btn">
                    <a href="javascript:void(0)" class="btn">New Order</a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-tachometer"></i>
                        <span class="menu-text">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-list-alt"></i>
                        <span class="menu-text">My Orders</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-cog"></i>
                        <span class="menu-text">Settings</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section id="main-content" style="min-height: 386px;">
            <div class="content-title">
                <h3 class="main-title">Dashboard</h3>
                <span>Sidebar Features</span>
            </div>
            <div class="inner-content">
            </div>
        </section>
    </div>
</div>