<div id="app-wrapper" class="hoe-hide-lpanel" device-type="desktop">
    <header id="app-header" panel-effect="shrink" class="">
        <div class="right-header" hoe-position-type="relative">
            <div class="collapse navbar-collapse">
                <ul class="left-navbar nav navbar-nav">
                    <li>
                        <form method="post" class="searchbar navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" placeholder="Search by keywords..." name="keyword" class="form-control">
                                <span class="search-icon form-control-feedback"><i class="fa fa-search"></i></span>
                            </div>
                        </form>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="app-container" hoe-lpanel-effect="shrink" class="">
        <aside id="left-panel">
            <ul class="nav panel-list">
                <li class="logo">
                    <!-- <img src="../../assets/ResMed_logo.png" alt=""> -->
                </li>
                <li class="nav-level">
                    <span class="menu-text">Navigation</span>
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </li>
                <li class="new-order-btn">
                    <a href="javascript:void(0)" class="btn">New Order</a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-tachometer"></i>
                        <span class="menu-text">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-list-alt"></i>
                        <span class="menu-text">My Orders</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-cog"></i>
                        <span class="menu-text">Settings</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section id="main-content" style="min-height: 386px;">
            <div class="content-title">
                <h3 class="main-title">Dashboard</h3>
                <span>Sidebar Features</span>
            </div>
            <div class="inner-content">
                <h2 *ngIf="jwt">Your JWT is:</h2>
                <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
                <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
            </div>
        </section>
    </div>
</div>