body {
    position: relative;
}

#app-wrapper a:focus {
    outline: none;
}

#app-wrapper {
    background: #eef1f6;
    color: #7e7e7e;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "lato", sans-serif;
    direction: ltr;
    line-height: 20px;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#app-header {
    background: #fff none repeat scroll 0 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.left-header {
    overflow: hidden;
    background: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    position: absolute;
    float: left;
    text-align: center;
    width: 230px;
    z-index: 999;
}

.left-header a {
    color: #FFF;
}

.left-header img {
    width: 100%;
}

.left-header a:hover,
.left-header a:focus {
    color: #FFF;
    text-decoration: none;
}

.left-header a i {
    color: #003c70;
    font-size: 22px;
    position: relative;
    top: 3px;
}

.right-header {
    background: #fff none repeat scroll 0 0;
    z-index: 101;
    margin-left: 230px;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.right-header ul.left-navbar {
    width: 20%;
}

.right-header ul.navbar-right li {
    border-left: 1px solid #ccc;
}

.right-header ul.left-navbar li {
    width: 100%;
    border-right: 1px solid #ccc;
    padding: 3px 0;
}

.right-header ul.left-navbar li input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.right-header ul.left-navbar li .form-control-feedback {
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 19px;
}

.right-header li a:hover,
.right-header li a:focus {
    background: #efefef;
    text-decoration: none;
}

.hoe-sidebar-toggle a:after {
    background: transparent;
    border: 0px solid #efefef;
    content: "\f0c9";
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 50px;
    padding: 0px 17px;
    position: absolute;
    color: #7e7e7e;
    z-index: 1000;
}

.hoe-sidebar-toggle a:hover:after {
    background: #efefef;
}

.left-header>.hoe-sidebar-toggle>a {
    display: none
}

#app-header .left-header {
    /* position: absolute; */
}

#app-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    clear: both;
}

#left-panel {
    background: #FFF none repeat scroll 0 0;
    color: #7e7e7e;
    width: 230px;
    top: 0;
    position: absolute;
    float: left;
    min-height: 100%;
    z-index: 100;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

#left-panel ul {
    margin: 0;
    padding: 0;
}

#left-panel .logo {
    background: #fff;
    overflow: hidden;
    height: 100px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#left-panel .logo img {
    width: 100%;
    height: 100%;
}

#left-panel .nav-level {
    padding: 15px 15px;
    border-top: 1px solid #efefef;
    text-align: left;
}

#left-panel .nav-level .menu-text {
    font-weight: bold;
    text-transform: uppercase;
}

#left-panel .nav-level i {
    float: right;
    line-height: 20px;
}

#left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu {
    list-style: none;
}

#left-panel .panel-list>li>a {
    background: #FFF;
    color: #7e7e7e;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px;
    position: relative;
}

#left-panel .panel-list>li:first-child>a {
    border-top: 0px solid #efefef;
}

#left-panel .panel-list>li>a:hover,
#left-panel .panel-list>li>a:focus {
    color: #000;
    background: #f1f1f1;
}

#left-panel .panel-list>li.active>a {
    background: #f1f1f1;
    border-top: 1px solid #efefef;
    color: #000;
}

#left-panel .panel-list>li>a>i {
    display: inline;
    font-size: 14px;
    padding-right: 6px;
}

#left-panel .panel-list>li>a span.menu-text {
    display: inline-block;
}

#left-panel .panel-list>li.hoe-has-menu>a:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 15px;
    position: relative;
    float: right;
}

#left-panel .panel-list>li.hoe-has-menu.opened>a {
    background: #f1f1f1;
    color: #000;
}

#left-panel .panel-list>li.hoe-has-menu.opened>a:after {
    font-family: FontAwesome;
    content: "\f106" !important;
    font-size: 15px;
    float: right;
    position: relative;
}

#left-panel .panel-list>li.hoe-has-menu li.hoe-has-menu>a:after {
    font-family: FontAwesome;
    content: "\f103";
    font-size: 15px;
    position: relative;
    float: right;
}

#left-panel .panel-list>li.hoe-has-menu li.hoe-has-menu.opened>a:after {
    font-family: FontAwesome;
    content: "\f102";
    font-size: 15px;
    position: relative;
    float: right;
}

#left-panel .panel-list ul {
    background: #fafafa;
    box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

#left-panel .panel-list ul.hoe-sub-menu li>a {
    background: transparent;
    border-top: 1px solid #efefef;
    color: #7e7e7e;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 10px;
    position: relative;
}

#left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu {
    display: none;
}

#left-panel .panel-list li.hoe-has-menu>ul.hoe-sub-menu li>a:hover,
#left-panel .panel-list li.hoe-has-menu>ul.hoe-sub-menu li>a:focus {
    text-decoration: none;
    color: #000;
    background: #f1f1f1;
}

#left-panel .panel-list>li.hoe-has-menu>ul ul {
    display: none;
}

#left-panel .panel-list>li.hoe-has-menu.opened>ul {
    display: block;
}

#left-panel .panel-list>li.hoe-has-menu.opened>ul>li.hoe-has-menu.opened>ul {
    display: block;
}

#left-panel .panel-list>li.hoe-has-menu.opened>ul>li.hoe-has-menu.opened>ul>li.hoe-has-menu.opened>ul {
    display: block;
}

#left-panel .panel-list>li.hoe-has-menu.active>ul {
    display: block;
}

#left-panel .panel-list>li.hoe-has-menu.active>ul>li.hoe-has-menu.active>ul {
    display: block;
}

#left-panel .panel-list>li.hoe-has-menu.active>ul>li.hoe-has-menu.active>ul>li.hoe-has-menu.active>ul {
    display: block;
}

#left-panel .panel-list>li.hoe-has-menu>ul>li>a span.menu-text {
    padding-left: 15px;
    position: relative;
}

#left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu {
    list-style: outside none none;
}

#left-panel .panel-list>li.hoe-has-menu li.hoe-has-menu>ul.hoe-sub-menu {
    list-style: outside none none;
}

#left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu {
    list-style: outside none none;
}

#left-panel .panel-list>li.hoe-has-menu>ul>li.hoe-has-menu>ul>li>a span.menu-text {
    padding-left: 25px;
    position: relative;
}

#left-panel .panel-list>li.hoe-has-menu>ul>li.hoe-has-menu>ul>li>ul>li>a span.menu-text {
    padding-left: 35px;
    position: relative;
}

#left-panel .panel-list>li.hoe-has-menu>ul>li.hoe-has-menu>ul>li>ul>li>ul>li>a span.menu-text {
    padding-left: 40px;
    position: relative;
}

#left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li>a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 14px;
    position: relative;
    float: left;
    left: 4px;
}

#left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li>a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 12px;
    position: relative;
    float: left;
    left: 15px;
}

#left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li>a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 14px;
    position: relative;
    float: left;
    left: 18px;
}

#left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li>a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 12px;
    position: relative;
    float: left;
    left: 30px;
}

#left-panel .panel-list li.active>a .selected {
    border-bottom: 7px solid transparent;
    border-right: 7px solid #7e7e7e;
    border-top: 7px solid transparent;
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    top: 13px;
    vertical-align: middle;
    width: 0;
}

#left-panel .panel-list li.hoe-has-menu.active>a .selected {
    display: none;
}

#left-panel .panel-list li a .label {
    border-radius: 0.25em;
    color: #7e7e7e;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 4px 3px;
    position: absolute;
    right: 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

#left-panel[hoe-position-type="absolute"] {
    position: absolute;
}

#main-content {
    margin-left: 230px;
    position: relative;
}

#app-header.hoe-minimized-lpanel>.left-header {
    width: 50px;
    overflow: hidden;
    border-left: 1px solid #e3e7ea;
}

#app-header.hoe-minimized-lpanel>.left-header img {
    width: 100%;
}

#app-header.hoe-minimized-lpanel>.left-header>a>span {
    display: none;
}

.hoe-minimized-lpanel #left-panel {
    width: 50px;
}

.hoe-minimized-lpanel #left-panel .media-body {
    display: none;
}

.hoe-minimized-lpanel #left-panel .nav-level {
    display: none;
}

.hoe-minimized-lpanel #left-panel .panel-list>li>a span.menu-text {
    display: none;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>a:after {
    display: none;
}

.hoe-minimized-lpanel #left-panel .panel-list>li>a>i {
    display: inline;
    font-size: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li:hover>a,
.hoe-minimized-lpanel #left-panel .panel-list>li:focus>a {
    display: block;
    position: relative;
    width: 230px;
    margin-bottom: -1px;
    border-radius: 0px 4px 4px 0px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li:hover>a,
.hoe-minimized-lpanel #left-panel .panel-list>li:focus>a {
    border-radius: 0px 4px 4px 0px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:hover>a,
.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:focus>a {
    border-radius: 0px 4px 0px 0px;
    background: #f1f1f1;
}

.hoe-minimized-lpanel #left-panel .panel-list>li:hover>a span.menu-text,
.hoe-minimized-lpanel #left-panel .panel-list>li:focus>a span.menu-text {
    display: inline-block;
    position: absolute;
    left: 52px;
}

.hoe-minimized-lpanel #left-panel .panel-list ul.hoe-sub-menu li {
    list-style: none;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu {
    display: none !important;
    position: absolute;
    left: 50px;
    width: 180px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:hover>ul.hoe-sub-menu,
.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:focus>ul.hoe-sub-menu {
    display: block !important;
    border-right: 1px solid #efefef;
    width: 180px;
    left: 50px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu ul.hoe-sub-menu {
    display: none !important;
    position: absolute;
    width: 180px;
    left: 0;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:hover>ul.hoe-sub-menu ul.hoe-sub-menu,
.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:focus>ul.hoe-sub-menu ul.hoe-sub-menu {
    display: none !important;
    left: 0px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu:hover>ul.hoe-sub-menu,
.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu:focus>ul.hoe-sub-menu {
    display: block !important;
    position: relative;
    left: 0px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu:hover>ul.hoe-sub-menu,
.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu:focus>ul.hoe-sub-menu {
    display: block !important;
    position: relative;
    left: 0px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu li.hoe-has-menu>a:after {
    display: none;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu li.hoe-has-menu>a:after {
    font-family: FontAwesome;
    content: "\f103";
    font-size: 15px;
    position: relative;
    float: right;
    display: block;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu li.hoe-has-menu:hover>a:after,
.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu li.hoe-has-menu:focus>a:after {
    font-family: FontAwesome;
    content: "\f102";
    font-size: 15px;
    position: relative;
    float: right;
    display: block;
}

.hoe-minimized-lpanel #left-panel .panel-list li.hoe-has-menu.active>li.active a .selected {
    display: block;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.active:hover>a .selected,
.hoe-minimized-lpanel #left-panel .panel-list>li.active:focus>a .selected {
    display: none;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu li>a span.menu-text {
    padding-left: 15px;
    position: relative;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li>a span.menu-text:before {
    left: 4px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li.hoe-has-menu>ul.hoe-sub-menu>li>a span.menu-text:before {
    left: 4px;
}

.hoe-minimized-lpanel #left-panel .panel-list li .label {
    display: none;
}

.hoe-minimized-lpanel #left-panel .panel-list li:hover a .label {
    display: block;
    position: absolute;
    right: 5px;
    top: 10px;
}

.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu.opened>a {
    background: #f1f1f1;
    color: #000;
}

.hoe-minimized-lpanel #main-content {
    margin-left: 50px;
}

#app-wrapper[device-type="phone"].hoe-hide-lpanel #left-panel {
    display: none;
}

#app-wrapper[device-type="phone"] #app-header {
    position: none;
    height: 100px;
}

#app-wrapper[device-type="phone"] .left-header {
    width: 100%;
    overflow: hidden;
    float: none;
    border-left: 1px solid #e2e3e5;
}

#app-wrapper[device-type="phone"] .left-header img {
    width: 100%;
    height: 100%;
}

#app-wrapper[device-type="phone"] #left-panel[hoe-position-type="fixed"] {
    top: 100px;
}

#app-wrapper[device-type="phone"].hoe-hide-lpanel #left-panel {
    display: none;
}

#app-wrapper[device-type="phone"] #left-panel {
    display: block;
    z-index: 1024;
}

#app-wrapper[device-type="phone"] #main-content {
    margin-left: 0px;
}

#app-wrapper[device-type="phone"] .left-header>.hoe-sidebar-toggle>a {
    display: block;
}

#app-wrapper[device-type="tablet"] .left-header .hoe-sidebar-toggle a:after {
    display: none !important;
}

#app-wrapper[device-type="phone"] .left-header .hoe-sidebar-toggle a:after {
    background: transparent;
    border-radius: 4px;
    content: "ïƒ‰";
    font-family: FontAwesome;
    font-size: 16px;
    left: 5px;
    line-height: 39px;
    padding: 1px 13px;
    position: absolute;
    top: 3px;
    z-index: 1000;
    display: block !important;
    color: #003c70;
    border: 0px solid #003c70;
    font-size: 14px;
}

#app-wrapper[device-type="phone"].hoe-hide-lpanel #app-container[panel-effect="shrink"] #main-content {
    margin-left: 0px;
}

#app-wrapper[device-type="phone"] #app-container[panel-effect="shrink"] #main-content {
    margin-left: 230px;
}

#app-wrapper[device-type="phone"].hoe-hide-lpanel #app-container[panel-effect="overlay"] #main-content {
    margin-left: 0px;
}

#app-wrapper[device-type="phone"] #app-container[panel-effect="overlay"] #main-content {
    margin-left: 0px;
}

#app-wrapper[device-type="phone"].hoe-hide-lpanel #app-container[panel-effect="push"] #main-content {
    margin-left: 0px;
    margin-right: 0px;
}

#app-wrapper[device-type="phone"] #app-container[panel-effect="push"] #main-content {
    margin-left: 230px;
    margin-right: -230px;
}

.page-header {
    background: #29282e none repeat scroll 0 0;
    border-bottom: 1px solid #29282e;
    color: #fff;
    height: 40px;
    margin: 0;
    padding-bottom: 9px;
    position: fixed;
    width: 100%;
    z-index: 1
}

.page-header>ul {
    display: inline;
    float: left;
    margin: 0;
    padding: 0
}

.page-header>ul>li {
    display: inline;
    line-height: 35px;
    padding: 5px
}

.icon-bar a i {
    font-size: 21px;
    padding: 5px;
    position: relative;
    top: 5px;
    color: #96908B
}

.icon-bar a.active i {
    color: #FFF
}

li>a>i {
    padding-right: 5px
}

.dropdown-menu>li {
    border-bottom: 1px solid #414141;
    background: none repeat scroll 0 0 #000
}

.dropdown-menu {
    border-radius: 0 0 4px 4px;
    min-width: 180px;
    padding: 0
}

.dropdown-menu>li>a {
    padding: 4px 10px;
    color: #fff
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #29282e;
    color: #FFF;
    text-decoration: none
}

#iframe {
    display: block;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
    position: absolute;
    width: 100%
}

.btn-product {
    background-color: #0d0c0e;
    border-color: #4f4f4f;
    color: #fff;
    text-align: left;
    width: 180px
}

.btn-product.active,
.btn-product:active,
.open>.dropdown-toggle.btn-product {
    background-image: none
}

.btn-product.active,
.btn-product.focus,
.btn-product:active,
.btn-product:focus,
.btn-product:hover,
.open>.dropdown-toggle.btn-product {
    background-color: #0d0c0e;
    border-color: #4f4f4f;
    color: #fff
}

.btn-group span.caret {
    left: -20px;
    position: relative;
    z-index: 10
}

.dropdown-menu li>img {
    left: 178px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    display: none
}

.dropdown-menu li.preview>img {
    display: block
}

.switch-btn {
    background-color: #7aa93c;
    border-color: #7aa93c;
    color: #fff;
    padding: 4px 12px
}


/*#####################navigation panel with lpanel-bg1 theme Color Start################*/

#app-container[hoe-color-type="lpanel-bg1"] #left-panel {
    background: #70ca63 none repeat scroll 0 0;
    color: #e5f2da;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list>li>a {
    background: #70ca63;
    border-top: 1px solid #96cd69;
    color: #e5f2da;
    border-right: 1px solid #96cd69;
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list>li:last-child>a {
    border-bottom: 1px solid #96cd69;
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list>li:first-child>a {
    border-top: 0px solid #96cd69;
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list>li>a:hover,
#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list>li>a:focus {
    color: #FFF;
    background: #62bc55;
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list>li.active>a {
    background: #62bc55;
    border-top: 1px solid #96cd69;
    color: #FFF;
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list>li.hoe-has-menu.opened>a {
    background: #70ca63;
    color: #e5f2da;
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list ul {
    background: #fafafa;
    box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list ul.hoe-sub-menu li>a {
    background: #59b34c;
    border-top: 1px solid #80b753;
    color: #e5f2da;
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list li.active>a .selected {
    border-right: 7px solid #FFF;
}

#app-container[hoe-color-type="lpanel-bg1"] #left-panel .panel-list li a .label {
    color: #FFF;
}

#app-container #left-panel {
    background: #4a4a4a none repeat scroll 0 0;
    color: #cacaca;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

#app-container #left-panel .panel-list>li>a {
    background: #4a4a4a;
    color: #cacaca;
}

#app-container #left-panel .panel-list>li>a:hover,
#app-container #left-panel .panel-list>li>a:focus {
    color: #FFF;
    background: #3b3b3b;
}

#app-container #left-panel .panel-list>li.active>a {
    background: #3b3b3b;
    color: #FFF;
}

#app-container #left-panel .panel-list>li.hoe-has-menu.opened>a {
    background: #3b3b3b;
    color: #cacaca;
}

#app-container #left-panel .panel-list ul {
    background: #fafafa;
    box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

#app-container #left-panel .panel-list ul.hoe-sub-menu li>a {
    color: #fff;
}

#app-container #left-panel .panel-list li.hoe-has-menu>ul.hoe-sub-menu li>a:hover,
#app-container #left-panel .panel-list li.hoe-has-menu>ul.hoe-sub-menu li>a:focus {
    color: #FFF;
    background: #3b3b3b;
}

#app-container #left-panel .panel-list li.active>a .selected {
    border-right: 7px solid #FFF;
}

#app-container #left-panel .panel-list li a .label {
    color: #d7e9fc;
}

#app-container.hoe-minimized-lpanel #left-panel {
    background: #4a4a4a;
    color: #cacaca;
}

#app-container.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:hover>a,
#app-container.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:focus>a {
    border-radius: 0px 4px 0px 0px;
    background: #3b3b3b;
}

#app-container.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu.opened>a {
    background: #4a4a4a;
    color: #cacaca;
}

#app-container.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu.opened>a:hover {
    background: #3b3b3b;
    color: #FFF;
}

#app-container.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:hover>ul.hoe-sub-menu,
#app-container.hoe-minimized-lpanel #left-panel .panel-list>li.hoe-has-menu:focus>ul.hoe-sub-menu {
    border-right: 1px solid #3b3b3b;
}

#app-container #left-panel .nav-level {
    border-top: 1px solid #3b3b3b;
}

#app-container #left-panel .nav-level:first-child {
    border-top: 0px solid #3b3b3b;
}

#app-container #left-panel .new-order-btn {
    background-color: #3b3b3b;
    padding: 10px;
}

#app-container #left-panel .new-order-btn a {
    background-color: #707070;
    border: 1px solid #c0c0c0;
    color: #c0c0c0;
}
